<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions Database</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<!-- Header with navigation links -->
<header>
    <h1>Questions Database</h1>
    <nav>
        <ul>
            <li><a href="#fetchAllQuestionsSection" class="nav-link">All Questions</a></li>
            <li><a href="#fetchQuestionByIdSection" class="nav-link">Search Question</a></li>
            <li><a href="#addNewQuestionSection" class="nav-link">Add Question</a></li>
            <li><a href="#updateQuestionSection" class="nav-link">Update Question</a></li>
        </ul>
    </nav>
</header>

<main>
    <!-- Section to display all questions -->
    <section id="fetchAllQuestionsSection" class="section">
        <h2>List of All Questions</h2>
        <ul id="allQuestions"></ul>
    </section>

    <!-- Section to fetch a question by ID -->
    <section id="fetchQuestionByIdSection" class="section">
        <h2>Search Question by ID</h2>
        <form id="fetchQuestionForm">
            <label for="questionIdInput">Question ID:</label>
            <input type="text" id="questionIdInput" placeholder="Enter question ID" aria-labelledby="questionIdInput"
                   required>
            <button type="submit" id="fetchQuestionButton">Search Question</button>
        </form>
        <div id="questionDetail"></div>
    </section>

    <!-- Section to add a new question -->
    <section id="addNewQuestionSection" class="section">
        <h2>Add a New Question</h2>
        <form id="addNewQuestionForm">
            <label for="questionTitle">Question Title:</label>
            <input type="text" id="questionTitle" placeholder="Enter question title" required>

            <label for="typeOfContent">Type of Content:</label>
            <input type="text" id="typeOfContent" placeholder="Enter type of content" required>

            <label for="typeOfQuestion">Type of Question (separate by comma):</label>
            <input type="text" id="typeOfQuestion" placeholder="Enter types of question" required>

            <button type="submit" id="addNewQuestionButton">Add Question</button>
        </form>
    </section>

    <!-- Section to update a question -->
    <section id="updateQuestionSection" class="section">
        <h2>Update Question</h2>
        <form id="updateQuestionForm">
            <label for="updateQuestionId">Question ID:</label>
            <input type="text" id="updateQuestionId" placeholder="Enter question ID" required>

            <label for="updateQuestionTitle">Question Title:</label>
            <input type="text" id="updateQuestionTitle" placeholder="Enter question title" required>

            <label for="updateTypeOfContent">Type of Content:</label>
            <input type="text" id="updateTypeOfContent" placeholder="Enter type of content" required>

            <label for="updateTypeOfQuestion">Type of Question (separate by comma):</label>
            <input type="text" id="updateTypeOfQuestion" placeholder="Enter types of question" required>

            <button type="submit" id="updateQuestionButton">Update Question</button>
        </form>
    </section>


</main>

<!-- Include the JavaScript file -->
<script src="index.js"></script>
</body>
</html>
