<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Database</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section id="fetchSection">
        <h2>Fetch Question by ID</h2>
        <label for="questionIdInput">Question ID:</label>
        <input type="text" id="questionIdInput" placeholder="Enter question ID" aria-labelledby="questionIdInput">
        <button id="fetchQuestionButton">Fetch Question</button>
    </section>
    <div id="questionDetail"></div>

    <h1>List of All Questions</h1>
    <ul id="allQuestions"></ul>

<script src="index.js"></script>
</body>
</html>
